.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 2rem;
  align-items: center;
}

.button {
  width: 6rem;
  height: 1.5rem;
}

.alertContainer {
  grid-column-start: 1;
  grid-column-end: 3;
}