.button {
  appearance: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 0.875rem;
  transition: all 0.15s linear 0s;
  padding: 0.5rem 1rem;
}

.primary {
  border: 1px solid var(--primary100);
  color: var(--secondary-color);
  background-color: var(--primary100);
}

.button:disabled {
  cursor: default;
  opacity: 0.5;
}

.button:focus {
  outline: none;
  box-shadow: var(--primary40) 0px 0px 1px 2px;
}

.button:active:enabled {
  transform: translateY(1px);
}

.primary:hover:enabled {
  background-color: var(--primary80);
  border-color: var(--primary80);
}

.default {
  border: 1px solid var(--shade40);
  color: var(--default-color);
  background-color: transparent;
}

.default:hover:enabled {
  background-color: var(--shade40);
}