:root {
  --basic-font: 'Yantramanav', sans-serif;
  --primary100: #248BD2;
  --primary80: #50A2DB;
  --shade10: #F3F3F3;
  --shade40: #E9E9E9;
  --shade60: #D2D2D2;
  --blue100: #248BD2;
  --error100: #B31B1B;
  --main-color: #003262;
  --secondary-color: #fff;
}

* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  color: var(--main-text-color);
}