.app {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 50% 50%;
  min-height: 100vh;
  grid-template-areas:
    "play rating";
  margin: 5%;
}

@media (max-width: 700px) {
  .app {
    grid-template-columns: 100%;
    grid-template-areas:
      "play"
      "rating";
  }
}

.play {
  display: grid;
  grid-area: play;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, min-content);
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.middleColumn {
  grid-column-start: 2;
  grid-column-end: 4;
}

.rating {
  grid-area: rating;
  display: grid;
  grid-template-rows: min-content;
  justify-content: center;
  align-items: center;
}