.App {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  min-height: 100vh;
  grid-template-areas:
    "play rating";
  margin: 5% auto;
}

.play {
  display: grid;
  grid-template-columns: 25rem;
  grid-template-rows: repeat(3, min-content);
  align-items: center;
  gap: 2rem;
  margin: 0 auto;
}

.rating {}