.submitForm {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  align-items: end;
  gap: 1rem;
}

.label {
  font-size: 1rem;
  font-weight: 400;
  color: var(--shade100);
  margin-bottom: 0;
  padding-right: 8px;
}

.input {
  border: 1px solid var(--shade60);
  border-radius: 4px;
  outline: 0px;
  box-shadow: rgba(0, 0, 0, 0.078) 0px 1px 1px 0px inset;
  font-size: 0.875rem;
  background-color: var(--secondary-color);
  width: 100%;
  color: var(--shade100);
  font-weight: 200;
  padding: 7px 10px;
  margin: 0px;
  text-align: start;
  text-indent: 0px;
  height: 32px;
}